*{
    padding: 0;   
}


/* logo modo light */

.mi_logo{
    width: 5rem;
}
.dark_logo{
    width: 5rem;
}


/* header del portafolio modo claro*/
.header_porta{
display: flex;
flex-wrap: nowrap;
align-items: center;
justify-content: space-between;
background: rgb(93,224,230);
background: linear-gradient(90deg, rgba(93,224,230,1) 0%, rgba(0,74,173,1) 100%);
position: relative;
}
/* header modo oscuro */
.dark_header{
    display: flex;
flex-wrap: nowrap;
align-items: center;
justify-content: space-between;
background: rgb(247,2,2);
background: linear-gradient(90deg, rgba(247,2,2,1) 0%, rgb(114, 2, 2) 100%);
color: white;
position: relative;
}
.directori{
    display: flex;
    flex-direction: column;
    list-style: none;
    position: absolute;
    height: 210px;
    width: 150px;
    right: -150px;
    z-index: 2;
    top: 62px;
    background: rgba(93, 223, 230, 0.667);
    background: linear-gradient(90deg, rgba(93, 223, 230, 0.669) 0%, rgba(0,74,173,1) 100%);
    align-items: center;
    justify-content: center;
}


.dark_directori{
    display: flex;
    flex-direction: column;
    list-style: none;
    position: absolute;
    height: 210px;
    width: 150px;
    right: -150px;
    z-index: 2;
    top: 62px;
    background: rgba(247, 2, 2, 0.56);
background: linear-gradient(90deg, rgba(247, 2, 2, 0.463) 0%, rgba(114, 2, 2, 0.513) 100%);
align-items: center;
justify-content: center;
}
.dark_directori_active{
    right: 0;
   
   }


/* lista de el header */
.list_porta{
    height: 20px;
    padding: 15px;
    margin-right: 10px;
    list-style: none;
}
/* lista dark */
.dark_list_header{
    height: 20px;
    padding: 15px;
    margin-right:10px ;
    list-style: none;
    color: white;
    text-decoration: none;
}

.menu_open{
    position: absolute;
    color: black;
    font-size: xx-large;
    right: 10px;
    top: 20px;
}
.dark_menu_open{
    position: absolute;
    color: white;
    font-size: xx-large;
    right: 10px;
    top: 20px;
}


.dark_name{
    color: white;
}
.light_name{
    color: black;
}
/* stilos de switch */
.modo_oscuro{
    list-style: none;
    position:absolute;
    right: 40px;
    top: 8px;
}
.sol_luna{
 
    height: 30px;
    width: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
.dark{
    color:white;
}
.light{
    color: black;
}
.dark_body {
    background-color: black;
    color: white;
}
.light_body{
    background-color: rgb(202, 226, 245);
    color: black;
}





/* pagina de inicio */
.info_mi{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content:center;
    flex-direction: column;
    align-content: center;
}
/* saludo */
.title{
    border-radius:10px ;
    background-color:rgb(93,224,230);
    background: linear-gradient(90deg, rgba(93,224,230,1) 0%, rgba(0,74,173,1) 100%);
    width: 5.5em;
    align-items: center;
    justify-content: center;
    display: flex;
}
.dark_title{
    border-radius:10px ;
    background: rgb(247,2,2);
    background: linear-gradient(90deg, rgba(247,2,2,1) 0%, rgb(114, 2, 2) 100%);
    width: 5.5rem;
    align-items: center;
    justify-content: center;
    display: flex;

}
/* imagen de inicio */
.img_mia{
    max-width: 250px;
    max-height: 250px;
    border-radius: 100px;
    position: relative;
    bottom: 15px;
    margin: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
/* nombre  */
.title_n{
    font-size:x-large;
    font-weight: bolder;
    color:white;
    position: relative;
    background-color:rgb(93,224,230);
    background: linear-gradient(90deg, rgba(93,224,230,1) 0%, rgba(0,74,173,1) 100%);
    border-radius: 37px;
    width: 20rem;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 2px;
    animation-name: nombre;
    animation-duration: 8s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    bottom: 20px;  
}
.dark_title_n{
    font-size: x-large;
    font-weight: bolder;
    position: relative;
    background: rgb(247,2,2);
    background: linear-gradient(90deg, rgba(247,2,2,1) 0%, rgb(114, 2, 2) 100%);
    border-radius: 37px;
    width: 20rem;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 2px;
    animation-name: nombre;
    animation-duration: 8s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    bottom: 20px;  
}
.title_profetion{
    bottom: 20px;
    display: flex;
    color: rgb(3, 129, 219);
    text-shadow: 0 0 10px rgb(79, 211, 255), 0 0 40px rgb(79, 211, 255), 0 0 60px rgb(79, 211, 255);
}
.dark_title_profetion{
    bottom: 20px;
    display: flex;
    color:rgba(255, 2, 2, 0.833);
    text-shadow: 0 0 20px white, 0 0 40px white, 0 0 60px white;
}
/* lista de redes de info */
.lista{
    display: flex;
    list-style: none;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.dark_lista{
    display: flex;
    list-style: none;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    
}
a:link{text-decoration: none;} a:visited{text-decoration: none;}
/* redes */
.list_init{
    border: 0,5px solid ;background-color:rgb(93,224,230);
    background: linear-gradient(90deg, rgba(93,224,230,1) 0%, rgba(0,74,173,1) 100%); 
    height: 2rem;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 6rem;
    list-style: none;
    opacity: 0.9;
    cursor: pointer;
    color: black;
    transition: opacity 200ms ease,
                transform 200ms ease;
                box-shadow: 200ms ease;
    list-style: none;
    text-decoration: none;
}
.dark_list_init{
     border: 0,5px solid ;
     background: rgb(247,2,2);
     background: linear-gradient(90deg, rgba(247,2,2,1) 0%, rgb(114, 2, 2) 100%); 
    height: 2rem;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 6rem;
    list-style: none;
    opacity: 0.9;
    cursor: pointer;
    color: white;
    transition: opacity 200ms ease,
                transform 200ms ease;
                box-shadow: 200ms ease;

}
.list_init:hover {
    opacity: 1;
    transform: scale(1.3 );
    box-shadow:0 0 10px black,0 0 40px black, 0 0 80px black ;
    transition-delay:200ms ;
}
.dark_list_init:hover{
    opacity:1;
    transform: scale(1.3);
    box-shadow: 0 0 10px white, 0 0 40px white, 0 0 80px white;
    transition-delay: 200ms;
}



/* animacion a mi nombre */
@keyframes nombre {
 0%{color:white;}
 25%{color:black ;}
 50%{color:white ;}
 75%{color:black ;}
 100%{color:white ;}
    
}
@media  (min-width: 570px){
    .header_porta{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        background: rgb(93,224,230);
        background: linear-gradient(90deg, rgba(93,224,230,1) 0%, rgba(0,74,173,1) 100%);
        position: relative;
        }
   .menu_open{
    display: none;
   }
    .directori{
        display: flex;
        flex-wrap: nowrap;
        list-style: none;
        flex-direction: row;
        height: 100%;
        width: 80%;
        left: 80px;
        z-index: 1;
        top: -16px;
        background: rgba(93, 223, 230, 0);
        background: linear-gradient(90deg, rgba(93, 223, 230, 0) 0%, rgba(0, 75, 173, 0) 100%);
        position: absolute;
        align-items: center;
        justify-content: center;
       }
       .dark_directori{
        display: flex;
        flex-wrap: nowrap;
        list-style: none;
        flex-direction: row;
        height: 100%;
        width: 80%;
        left: 80px;
        z-index: 1;
        top: -16px;
        background: rgba(93, 223, 230, 0);
        background: linear-gradient(90deg, rgba(93, 223, 230, 0) 0%, rgba(0, 75, 173, 0) 100%);
        position: absolute;
        align-items: center;
        justify-content: center;
       }

  
    .list_porta{
        height: 20px;
        padding: 15px;
        margin-right: 10px;
        list-style: none;
    }
    /* lista dark */
    .dark_list_header{
        padding: 20px;
        padding: 15px;
        margin-right:10px ;
        list-style: none;
        color: white;
       
    }


    .title{
        border-radius:10px ;
        background-color:rgb(93,224,230);
        background: linear-gradient(90deg, rgba(93,224,230,1) 0%, rgba(0,74,173,1) 100%);
        width: 5.5em;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .title_n{
        font-size:xx-large;
        font-weight: bolder;
        color:white;
        position: relative;
        background-color:rgb(93,224,230);
        background: linear-gradient(90deg, rgba(93,224,230,1) 0%, rgba(0,74,173,1) 100%);
        border-radius: 37px;
        width: 26rem;
        align-items: center;
        display: flex;
        justify-content: center;
        gap: 2px;
        animation-name: nombre;
        animation-duration: 8s;
        animation-delay: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        bottom: 20px;  
    }
    .dark_title_n{
        font-size: xx-large;
        font-weight: bolder;
        position: relative;
        background: rgb(247,2,2);
        background: linear-gradient(90deg, rgba(247,2,2,1) 0%, rgb(114, 2, 2) 100%);
        border-radius: 37px;
        width: 26rem;
        align-items: center;
        display: flex;
        justify-content: center;
        gap: 2px;
        animation-name: nombre;
        animation-duration: 8s;
        animation-delay: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        bottom: 20px;  
    }
}
/* pagina sobre mi  */
.me{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
/* quien soy */
.me_title{
    align-items: center;
    font-weight: bolder;
    font-size: xx-large;
    color: rgb(3, 129, 219);
    text-shadow: 0 0 10px rgb(79, 211, 255), 0 0 40px rgb(79,211,255), 0 0 60px rgb(79, 211, 255);

}
.dark_me_title{
    align-items: center;
    font-weight: bolder;
    font-size: xx-large;
    color:  rgba(255, 2, 2, 0.833);
    text-shadow: 0 0 20px white, 0 0 40px  white, 0 0 60px  white;
}
/* texto de la descripcion */
.me_text{
    align-items: center;
    justify-content: space-around;
    display: flex;
    margin-left:10%;
    margin-right: 10%;

}
/* lista de las habilidades que manejo */
.me_list{
    display: flex;
    flex-direction:row;
    list-style: none;
     
}
.dark_me_list{
    display: flex;
    flex-direction:row;
    list-style: none;
}
/* habilidades definidas  */
.me_list_ability{
align-items: center;
display: flex;
justify-content: center;
width: 60px;
height: 60px;
padding: 0;
color: black;
 
margin: 10px;
border-radius: 15px;
font-size: 50px;
transition: opacity 200ms ease,
transform 200ms ease;
box-shadow: 200ms ease;
padding: 10px;
}
.me_list_ability:hover{
    opacity: 1;
    transform: scale(1.3);
    box-shadow:0 0 10px rgb(93,224,230),0 0 40px rgb(93,224,230), 0 0 80px rgb(93,224,230);
    transition-delay:200ms ;
}
.dark_me_list_ability{
    align-items: center;
display: flex;
justify-content: center;
width: 60px;
height: 60px;
padding: 0;
color: rgba(255, 2, 2, 0.833) ;
margin: 10px;
border-radius: 15px;
font-size: 50px;
transition: opacity 200ms ease,
transform 200ms ease;
box-shadow: 200ms ease;
padding: 10px;
}
.dark_me_list_ability:hover{
    opacity: 1;
    transform: scale(1.3);
    box-shadow:0 0 10px rgba(255, 2, 2, 0.833),0 0 40px rgba(255, 2, 2, 0.833), 0 0 80px rgba(255, 2, 2, 0.833);
    transition-delay:200ms ;
}
/* boton del cv pag sobre mi */
.boton{
    display: flex;
    flex-direction:column ;
    margin-top: 20px;
}
.dark_boton{
    display: flex;
    flex-direction:column ;
    margin-top: 20px;
}
/* boton  */
.me_boton{
    border-radius: 145px;
    background-color:rgb(93,224,230);
    background: linear-gradient(90deg, rgba(93,224,230,1) 0%, rgba(0,74,173,1) 100%);  
    width: 10rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    color:black;
    font-size: large;
    animation-name: nombre;
    animation-duration: 8s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: opacity 200ms ease,
transform 200ms ease;
box-shadow: 200ms 
}
.me_boton:hover{
    opacity: 1;
    transform: scale(1.3);
    box-shadow:0 0 10px black,0 0 40px black, 0 0 80px black;
    transition-delay:200ms ;
}
.dark_me_boton{
    border-radius: 145px;
    background: rgb(247,2,2);
    background: linear-gradient(90deg, rgba(247,2,2,1) 0%, rgb(114, 2, 2) 100%); 
    width: 10rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    color:white;
    font-size: large;
    animation-name: nombre;
    animation-duration: 8s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: opacity 200ms ease,
transform 200ms ease;
box-shadow: 200ms 
}
.dark_me_boton:hover{
    opacity: 1;
    transform: scale(1.3);
    box-shadow:0 0 10px white,0 0 40px white, 0 0 80px white;
    transition-delay:200ms ;
}

/* pagina de los proyectos*/
.pag_proyect  {
    display: flex;
    align-items: center;
    flex-direction: column;   
}
.dark_pag_proyect{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* titulo */
.proyect .mi_proyects .proyects .proy_title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.dark_proyect .dark_mi_proyects .dark_proyects .dark_proy_title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.mi_proyects{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.dark_mi_proyects{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

/* div para los proyectos */
.proyects{
padding:25px ;
display: flex;
align-items:center ;
justify-content: center;
flex-direction: column;
position: relative;
border-radius: 5%;
flex-wrap: wrap;
align-content: center;
transition: opacity 100ms ease,
transform 200ms ease;
box-shadow: 100ms 
}
.proyects:hover{
    opacity: 1;
    transform: scale(0.9);
    box-shadow:0 0 10px rgb(93,224,230),0 0 40px rgb(93,224,230), 0 0 80px rgb(93,224,230);
    transition-delay:100ms ;
}
.dark_proyects{
padding:25px ;
display: flex;
align-items:center ;
justify-content: center;
flex-direction: column;
position: relative;
border-radius: 5%;
flex-wrap: wrap;
align-content: center;
transition: opacity 100ms ease,
transform 200ms ease;
box-shadow: 100ms 
}
.dark_proyects:hover{
      opacity: 1;
    transform: scale(0.9);
    box-shadow:0 0 10px rgba(255, 2, 2, 0.833),0 0 40px rgba(255, 2, 2, 0.833), 0 0 80px rgba(255, 2, 2, 0.833);
    transition-delay:100ms ;
}
/* titulo de los proyectos */
.proy_title{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10;
    border-radius: 15px;
    background-color:rgb(93,224,230);
    background: linear-gradient(90deg, rgba(93,224,230,1) 0%, rgba(0,74,173,1) 100%);
    height: 2rem;
    width: 30%;  
    transition: opacity 100ms ease,
    transform 200ms ease; 
    animation-name: title_proyect;
}
.dark_proy_title{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10;
    border-radius: 15px;
    background: rgb(247,2,2);
    background: linear-gradient(90deg, rgba(247,2,2,1) 0%, rgb(114, 2, 2) 100%); 
    height: 2rem;
    width: 30%;  
    transition: opacity 100ms ease,
    transform 200ms ease; 
    animation-name: title_proyect;
}


.img_proyect{
    height: 300px;
    width: 80%;
}
.dark_img_proyect{
    height: 300px;
    width: 80%;
}
.text_proyect{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
    position: absolute;
    bottom: 0;
    font-size: larger;
    font-weight: 500;
    background-color: rgba(94, 105, 186, 0.556);
    display: none;
}
.proyects:hover .text_proyect{
    display: block;
}
.dark_text_proyect{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
    position: absolute;
    bottom: 0;
    font-size: larger;
    font-weight: 500;
    background-color: rgba(186, 94, 94, 0.556);
    display: none;
}
.dark_proyects:hover .dark_text_proyect{
    display: block;
}

.button_proyect{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:20px;
    background: rgb(93,224,230);
background: linear-gradient(0deg, rgba(93,224,230,1) 0%, rgba(250,250,250,1) 100%);
    width: 20%;
    height: 2rem;
    margin: 20px;
    border-radius: 10px;
    color: black;
    border:1px solid white;
    font-size: larger;
    font-weight: 700;
    cursor:pointer;
    transition: opacity 100ms ease,
transform 200ms ease;
box-shadow: 100ms 
}
.button_proyect:hover{
    opacity: 1;
    transform: scale(1.2);
    box-shadow:0 0 10px rgb(93,224,230),0 0 40px rgb(93,224,230), 0 0 80px rgb(93,224,230);
    transition-delay:100ms ;
}
.dark_button_proyect{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:20px;
    background: rgb(247,2,2);
    background: linear-gradient(90deg, rgba(247,2,2,1) 0%, rgb(114, 2, 2) 100%); 
    width: 20%;
    height: 2rem;
    margin: 20px;
    border-radius: 10px;
    color: black;
    border:1px solid rgb(114,2,2);
    font-size: larger;
    font-weight: 700;
    cursor:pointer;
    transition: opacity 100ms ease,
transform 200ms ease;
box-shadow: 100ms 
}
.dark_button_proyect:hover{
    opacity: 1;
    transform: scale(1.2);
    box-shadow:0 0 10px white,0 0 40px white, 0 0 80px white;
    transition-delay:100ms ;
}
.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.formulario{
    display: flex;
    align-items: center;
    align-self: center;
    flex-direction: column;
    gap: 15px;
    border: solid 5px   rgb(93,224,230);
    margin: 10px;
    height: 300px;
    width: 50%;
    justify-content: center;
    border-radius: 15px;
}
.dark_formulario{
    display: flex;
    align-items: center;
    align-self: center;
    flex-direction: column;
    gap: 15px;
    border: solid 5px rgba(255, 2, 2, 0.833)  ;
    margin: 10px;
    height: 300px;
    width: 50%;
    justify-content: center;
    border-radius: 15px;
}

.form_input{
    height: 1.5rem;
    width: 90%;
    border: 3px solid  rgb(93,224,230);
    border-radius: 10px;
}
.dark_form_input{
    height: 1.5rem;
    width: 90%;
    border: 3px solid  rgb(255,2,2,0.883);
    border-radius: 10px;
}
.label_form{
    color: black;
    font-size: large;
    font-weight: 800;
}
.dark_label_form{
    color: rgb(255,2,2,0.883);
    font-size: large;
    font-weight: 800;
}
.btn_envio{
    height: 2rem;
    width: 50%;
    border-radius: 10px;
    background: rgb(93,224,230);
    background: linear-gradient(0deg, rgba(93,224,230,1) 0%, rgba(250,250,250,1) 100%);
    border: solid 1px white;
    cursor:pointer;
    transition: opacity 100ms ease,
transform 200ms ease;
box-shadow: 100ms 
}
.btn_envio:hover{
    opacity: 1;
    transform: scale(0.9);
    box-shadow:0 0 10px  rgb(93,224,230),0 0 40px  rgb(93,224,230), 0 0 80px  rgb(93,224,230);
    transition-delay:100ms ;
}
.dark_btn_envio{
    height: 2rem;
    width: 50%;
    border-radius: 10px;
    background: rgb(247,2,2);
    background: linear-gradient(90deg, rgba(247,2,2,1) 0%, rgb(114, 2, 2) 100%); 
    border: solid 1px rgb(255,2,2,0.883);
    cursor:pointer;
    transition: opacity 100ms ease,
transform 200ms ease;
box-shadow: 100ms 
}
.dark_btn_envio:hover{
    opacity: 1;
    transform: scale(0.9);
    box-shadow:0 0 10px white,0 0 40px white, 0 0 80px white;
    transition-delay:100ms ;
}
